 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("https://assets.nicepagecdn.com/d20d243b/4154898/images/download3.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 779px;
}

.u-section-1 .u-group-1 {
  width: 400px;
  min-height: 503px;
  height: 600px;
  background-image: linear-gradient(#0fc9f1, #666666);
  border-style: double;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 37px auto 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-1 .u-form-1 {
  height: 266px;
  width: 326px;
  margin: 25px auto 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-label-2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  font-size: 0.75rem;
    font-weight: 700;
    margin-top: 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-form-1 {
    width: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 492px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 321px;
  }
}